{% extends 'layout.html' %}

{% block title %}Position{% endblock %}

{% block content %}
    <main>
        <div class="head">
            <h1>Position</h1>
        </div>

        <div class="itemGroup">
            {% for pos in positions %}
                <div class="item">
                    <div>{{ pos.id }}. {{ pos.name }}</div>
                    <div class="action">{{ pos.num_employees }} People</div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}